<div class="dash-gallery-list">
  <div class="header-text">
    <h1>NO FILTER. ONLY PERFECTION.</h1>
    <p>Designed for photographers & photo studios</p>
  </div>
  <div class="gallery-block">
    <div class="album-item">
      <div class="img-block">
        <img src="/assets/albums/album1.jpg" alt="album1.jpg">
      </div>
      <a>Test name</a>
      <p>Test description</p>
    </div>
    <div class="album-item">
      <div class="img-block">
        <img src="/assets/albums/album2.jpg" alt="album2.jpg">
      </div>
      <a>Test name</a>
      <p>Test description</p>
    </div>
    <div class="album-item">
      <div class="img-block">
        <img src="/assets/albums/album3.jpg" alt="album3.jpg">
      </div>
      <a>Test name</a>
      <p>Test description</p>
    </div>
    <div class="album-item">
      <div class="img-block">
        <img src="/assets/albums/album4.jpg" alt="album4.jpg">
      </div>
      <a>Test name</a>
      <p>Test description</p>
    </div>
    <div class="album-item">
      <div class="img-block">
        <img src="/assets/albums/album5.jpg" alt="album5.jpg">
      </div>
      <a>Test name</a>
      <p>Test description</p>
    </div>
    <div class="album-item">
      <div class="img-block">
        <img src="/assets/albums/album6.jpg" alt="album6.jpg">
      </div>
      <a>Test name</a>
      <p>Test description</p>
    </div>
  </div>
</div>
