<div class="photo-line-container" *ngIf="position === 'top'">
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item top" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide3.jpg">
  </div>
</div>
<div class="photo-line-container" #slider *ngIf="position === 'bottom'">
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide3.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide3.jpg" alt="slide.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide2.jpg" alt="slide2.jpg">
  </div>
  <div class="slide-item bottom" #slide>
    <img src="/assets/gallery/slide.jpg" alt="slide3.jpg">
  </div>
</div>

